@model LinkedList<SachMuon>

@{
    ViewData["Title"] = "Phiếu mượn";
}

<main class="pt-2">
    <div>
        <div class="text-start d-flex" style="margin: 12px 0;">
            <a asp-controller="QuanLyMuonTraSach" asp-action="ViewSachMuon" class="btn btn-outline-primary @(Context.Request.Path == "/QuanLyMuonTraSach/ViewSachMuon" ? "active" : "")" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                Phiếu đang mượn
            </a>
            <a asp-controller="QuanLyMuonTraSach" asp-action="ViewSachTra" class="btn btn-outline-primary @(Context.Request.Path == "/QuanLyMuonTraSach/ViewSachTra" ? "active" : "")" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                Phiếu đã trả
            </a>
        </div>
        <div class="text-end">
            <a asp-controller="QuanLyMuonTraSach" asp-action="CreatePhieuMuon" class="btn btn-success" style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
                Lập phiếu mượn
            </a>
        </div>
        <hr />
        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Số phiếu</th>
                    <th scope="col">Người tạo phiếu</th>
                    <th scope="col">Tên độc giả</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Số lượng mượn</th>
                    <th scope="col">Ngày tạo phiếu</th>
                    <th scope="col">Ngày hẹn trả</th>
                    <th scope="col">Ghi chú mượn</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.MaPhieuMuon</th>
                        <td>@item.TenNguoiTao</td>
                        <td>@item.TenDocGia</td>
                        <td>@item.TenSach</td>
                        <td>@item.SoLuongMuon</td>
                        <td>@item.NgayTaoPhieu</td>
                        <td>@item.NgayHenTra</td>
                        <td>@item.GhiChuMuon</td>
                        <td>
                            <a asp-controller="QuanLyMuonTraSach" asp-action="Edit" asp-route-id="@item.MaPhieuMuon" class="btn btn-outline-primary" title="Sửa">
                                <i class="bi bi-gear"></i>
                            </a>
                            <a asp-controller="QuanLyMuonTraSach" asp-action="Delete" asp-route-id="@item.MaPhieuMuon" class="btn btn-outline-danger" style="margin: 0 8px;" title="Xóa">
                                <i class="bi bi-trash3"></i>
                            </a>
                            <a asp-controller="QuanLyMuonTraSach" asp-action="TraSach" asp-route-id="@item.MaPhieuMuon" class="btn btn-outline-success">
                                <span>Trả sách</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>