@model IQueryable<TaiKhoan>
@{
    ViewData["Title"] = "Phan quyen";
}

<main>
    <h2 class="lv2">Danh sách tài khoản trong hệ thống</h2>
    <div class="text-start" style="margin: 12px 0;">
        <a asp-controller="QuanTriHeThong" asp-action="Create" class="btn btn-outline-primary">
            <i class="bi bi-plus-circle"></i>&nbsp; Tạo mới
        </a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Tên đăng nhập</th>
                <th scope="col">Mật khẩu</th>
                <th scope="col">Vai trò</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.ID_TaiKhoan</th>
                    <td>@item.TenDangNhap</td>
                    <td>@item.MatKhau</td>
                    <td>@item.VaiTro</td>
                    <td>
                        <a asp-controller="QuanTriHeThong" asp-action="Edit" asp-route-id="@item.ID_TaiKhoan" class="btn btn-outline-primary" style="margin-right: 8px" title="Sửa">
                            <i class="bi bi-gear"></i>
                        </a>
                        <a asp-controller="QuanTriHeThong" asp-action="Delete" asp-route-id="@item.ID_TaiKhoan" class="btn btn-outline-danger" title="Xóa">
                            <i class="bi bi-trash3"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>